.backtohome {
  text-align: center;
}
.backtohome .icon-home {
  border: 1px solid #dededc;
  border-radius: 50%;
  display: inline-block;
  background-image: url(/static/media/icon/home.svg);
  background-repeat: no-repeat;
  background-size: 2em 2em;
  background-position: 50% 45%;
  height: 3.5em;
  width: 3.5em;
}
.backtohome .icon-home:hover {
  background-color: #f6f6f6;
  transition: background-color 500ms linear;
}
