<!DOCTYPE html>
<html>
  <head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ .Description }}">
    {{ template "chrome/system/header/social/index.html" . }}
    {{ if .RSSlink }}
      <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Title }}">
    {{ end }}
    <link rel="stylesheet" href="/static/style/bundle.css">
  </head>
  <body>
    <div class="stripe"></div>
    <div id="page" class="page page-single">

      <article class="article-post">
        <div class="section-inner">
          <h1 class="title">{{ .Title }}</h1>
          {{ template "chrome/component/common/metadata.html" . }}
          {{ .Content }}
          <div class="backtohome">
            <a class="icon icon-home" href="/"></a>
          </div>
        </div>
      </article>

      {{ template "chrome/component/footer/index.html" . }}
      {{ template "chrome/system/footer/index.html" . }}
