      {{ template "chrome/system/header/index.html" . }}

      <article class="article-post">
        <div class="section-inner">
          <h1 class="title">{{ .Title }}</h1>
          {{ template "chrome/component/common/metadata.html" . }}
          {{ .Content }}
          <div class="backtohome">
            <a class="icon icon-home" href="/"></a>
          </div>
        </div>
      </article>

      {{ template "chrome/component/footer/index.html" . }}
      {{ template "chrome/system/footer/index.html" . }}
