<!DOCTYPE html>
<html>
  <head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ .Description }}">
    {{ template "chrome/system/header/social/index.html" . }}
    {{ if .RSSlink }}
      <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}">
    {{ end }}
    <link rel="stylesheet" href="/static/style/bundle.css">
  </head>
  <body>
    <div id="page" class="page page-{{ .Type }}">
    <div class="stripe"></div>
