<div id="debug">
  <dl class="section-inner">
    <dt>.Title</dt>
    <dd>{{ .Title }}</dd>
    <dt>.Date</dt>
    <dd>{{ .Date }}</dd>
    <dt>.Permalink</dt>
    <dd>{{ .Permalink }}</dd>
    <dt>.Url</dt>
    <dd>{{ .Url }}</dd>
    <dt>.RSSlink</dt>
    <dd>{{ .RSSlink }}</dd>
    <dt>.Data</dt>
    <dd>{{ .Data }}</dd>
    <dt>.Summary</dt>
    <dd>{{ .Summary }}</dd>
    <dt>.Description</dt>
    <dd>{{ .Description }}</dd>
    <dt>.Type</dt>
    <dd>{{ .Type }}</dd>
    <dt>.Section</dt>
    <dd>{{ .Section }}</dd>
    <dt>.RelPermalink</dt>
    <dd>{{ .RelPermalink }}</dd>
    <dt>.LinkTitle</dt>
    <dd>{{ .LinkTitle }}</dd>
    <dt>.Prev</dt>
    <dd>{{ .Prev }}</dd>
    <dt>.Next</dt>
    <dd>{{ .Next }}</dd>
    <dt>.FuzzyWordCount</dt>
    <dd>{{ .FuzzyWordCount }}</dd>
    <dt>.WordCount</dt>
    <dd>{{ .WordCount }}</dd>
    <dt>.ReadingTime</dt>
    <dd>{{ .ReadingTime }}</dd>
    <dt>.Weight</dt>
    <dd>{{ .Weight }}</dd>
    <dt>.Site</dt>
    <dd>{{ .Site }}</dd>
    <dt>.Site.Title</dt>
    <dd>{{ .Site.Title }}</dd>
    <dt>.Site.Params</dt>
    <dd>{{ .Site.Params }}</dd>
  </dl>
</div>

