<h3 class="h5 en">Elsewhere</h3>
<p>
  {{ if isset .Site.Params "Twitter" }}
    <a href="https://twitter.com/{{ .Site.Params.Twitter }}">Twitter</a>
  {{ end }}
  {{ if isset .Site.Params "Github" }}
    <span class="space">/</span>
    <a href="https://github.com/{{ .Site.Params.Github }}">GitHub</a>
  {{ end }}
  {{ if isset .Site.Params "Googleplus" }}
    <span class="space">/</span>
    <a href="https://plus.google.com/{{ .Site.Params.Googleplus }}">Google+</a>
  {{ end }}
  {{ if isset .Site.Params "Pinboard" }}
    <span class="space">/</span>
    <a href="https://pinboard.in/u:{{ .Site.Params.Pinboard }}">pinboard</a>
  {{ end }}
</p>
